<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Change Data Product</title>
</head>

<body>
    <h2>Change Data Product</h2>
        <form th:action="@{/product/change/{productId}(productId=${product.id})}" th:object="${product}" method="POST">
            <input type="hidden" th:field="${product.id}" />
            Nama Store: <br>
            <input type="text" name="nama" th:value="${product.nama}"/>
            <br>
            Deskripsi: <br>
            <input type="text" name="deskripsi" th:value="${product.deskripsi}"/>
            <br>
            Harga: <br>
            <input type="number" name="harga" />
            <br>
            Stok: <br>
            <input type="number" name="stok" />
            <br>

            <br><br>
            <button type="submit"> Submit </button>
        </form>
</body>
</html>